<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Study Group</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Flatpickr (Date Picker) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home.home') }}">
                <i class="bi bi-book"></i> Study Group
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Notifications -->
                    {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn position-relative dropdown-toggle" type="button" id="notificationsDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bell"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ current_user.notifications|selectattr('is_read', 'equalto', False)|list|length }}
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
                            {% set unread_notifications = current_user.notifications | selectattr('is_read', 'equalto', False) %}
                            {% for notification in unread_notifications %}
                            <li class="dropdown-item bg-light">
                                {{ notification.message }}
                                <i><small class="text-muted d-block">Due Date - {% if notification.due_date %}
                                    {{ notification.due_date.strftime('%Y-%m-%d') }}
                                  {% else %}
                                    No due date set
                                  {% endif %}</small></i>
                            </li>
                            {% else %}
                            <li class="dropdown-item text-muted text-center">No new notifications</li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <!-- User Dropdown -->
                    <div class="dropdown">
                        <div class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="{{ current_user.username }}: Manage Account">
                            <button class="btn" type="button" id="userDropdown" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-person"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('auth.change_password') }}">
                                        <i class="bi bi-shield-lock"></i> Change Password
                                    </a>
                                </li>
                                <li>
                                    <form method="POST" action="{{ url_for('auth.delete_account') }}" class="d-inline">
                                        <button type="submit" class="dropdown-item text-danger"
                                            onclick="return confirm('Are you sure?')">
                                            <i class="bi bi-trash"></i> Delete Account
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                                        <i class="bi bi-box-arrow-right"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">
                            <i class="bi bi-person-plus"></i> Register
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Flash Messages -->
    <div id="flash-messages-container" class="toast-container position-fixed bottom-0 end-0 p-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="toast align-items-center text-bg-{{ category }} border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="bi bi-info-circle me-2"></i>{{ message }}
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>


    <!-- Main Content -->
    <main class="py-4">
        {% block content %}{% endblock %}
    </main>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Auto-dismiss flash messages
        // setTimeout(() => {
        //    const flashMessages = document.getElementById('flash-messages');
        //    if (flashMessages) {
        //        flashMessages.style.transition = 'opacity 0.5s ease';
        //        flashMessages.style.opacity = '0';
        //        setTimeout(() => flashMessages.remove(), 500); // Remove after fade
        //    }
        // }, 5000);

        document.addEventListener('DOMContentLoaded', function () {
            const toastElements = document.querySelectorAll('.toast');
            toastElements.forEach(toastEl => {
                const toast = new bootstrap.Toast(toastEl, { delay: 4000 }); // 4-second duration
                toast.show();
            });
        });

        // Mark notifications as read
        document.getElementById('notificationsDropdown').addEventListener('show.bs.dropdown', function () {
            fetch('{{ url_for("notifications.mark_notifications_read") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                }
            }).then(response => {
                if (response.ok) {
                    console.log('Notifications marked as read.');
                }
            });
        });

        // Initialize tooltips
        document.addEventListener('DOMContentLoaded', function () {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
</body>

</html>
