{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2>Upload Resource for {{ group.name }}</h2>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.file.label }}<br>
        {{ form.file(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>
{% endblock %}
